.SingleApplication {
  display: grid;
  grid-template-columns: 15% 15% auto 15% 15% 15%;
  padding: 20px;

  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cell {
  text-align: left;
  border-right: 1px solid #eee;
  padding: 0 15px;
}

.cell sub {
  display: block;
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
  font-family: "Aesop", sans-serif; 
  font-weight: bold; 
  font-style: normal;
  font-size: 12px;
  color: #737373; 
}


.value {
  font-family: "Aesop", sans-serif; 
  font-weight: bold; 
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #0C2340; 
}

.email {
  font-family: "Aesop", sans-serif;
  font-weight: bold; 
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #246AC1; 
  
}
